<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pet Profile Page</title>
    <link rel="stylesheet" href="/profilePage.css" />
  </head>
  <body>
    <div class="header">
      <a href="/profile/edit">Edit Profile</a>
      <a href="/profile/feed">Feed</a>
      <a href="/logout">Logout</a>

      <div class="container">
        <% if (data.hasImage) { %>
        <img
          src="data:image/png;base64, <%= data.image_data %>"
          class="profile-image"
        />
        <% } else { %>
        <img
          src="https://townsquare.media/site/295/files/2019/10/Terminator-Orion.jpg?w=980&q=75"
          class="profile-image"
        />
        <% } %>
        <h1><%= data.name %></h1>
        <p><label for="breed">Breed: <%= data.breed %></label></p>
        <p><label for="age">Age: <%= data.age %></label></p>
        <p><label for="weight">Weight: <%= data.weight%></label></p>
        <p>
          <label for="relationship_status"
            >Relationship Status: <%= data.relationship_status %></label
          >
        </p>
      </div>
    </div>
  </body>
</html>
